{% extends 'main.html' %}{% block content %}
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title border-bottom pb-2">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer d-flex">
                <button class="btn btn-outline-info">Add Item</button>
                <h4 class="ml-auto align-items-center">$20.54</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title border-bottom pb-2">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer d-flex">
                <button class="btn btn-outline-info">Add Item</button>
                <h4 class="ml-auto align-items-center">$20.54</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title border-bottom pb-2">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer d-flex">
                <button class="btn btn-outline-info">Add Item</button>
                <h4 class="ml-auto align-items-center">$20.54</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title border-bottom pb-2">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer d-flex">
                <button class="btn btn-outline-info">Add Item</button>
                <h4 class="ml-auto align-items-center">$20.54</h4>
            </div>
        </div>
    </div>
</div> {% endblock content %}